/* HEADER */
.header {

  display: flex;
  align-items: center;
  padding: 0 15%;
  gap: 50px;
}

.header .logo_area {
  flex: 2 1 0%;
}

.header img {
  height: 100px;
  width: 100px;
}
/* HERO */
.hero {

  display: flex;
  align-items: center;
  padding: 0 15%;
  gap: 50px;
}
/* INFORMATIOn */
.information {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15%;
}

.information ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
}

.information img {
  height: 200px;
  width: 200px;
}
/* QUOTE */
.quote {

  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 15%;
}
.quote .message {
  font-style: italic;
}
.quote .author {
  font-weight: bold;
}
/* CALL TO ACTION */
.callaction {

  padding: 0 15%;
}
.callaction .content {
  margin: 100px 0;
  padding: 20px 100px;
  border: solid;
  border-style: solid;
  border-color: black;
  display: flex;
  align-items: center;
}
.callaction .message {
  flex: 2 1 0;
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
