/* HEADER */
.header {
  border-style: solid;
  border-color: black;
  display: flex;
  align-items: center;
  padding: 0 15%;
  gap: 50px;
}

.header .logo_area {
  flex: 2 1 0%;
}

.header .logo_area img {
  height: 100px;
  width: 100px;
}

.header .link {
  flex: 1 1 0%;
}
