body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  padding: 10px 15%;
  gap: 50px;
}

.header .logo_area {
  flex: 2 1 0%;
}

.header img {
  height: 100px;
  width: 100px;
}

.header a {
  color: #e5e7eb;
  text-decoration: none;
}
/* HERO */
.hero {
  background-color: #1f2937;
  display: flex;
  align-items: start;
  padding: 100px 15%;
  gap: 50px;
}

.hero .message {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: start;
}

.hero h1 {
  size: 48px;
  color: #f9faf8;
  width: 900;
}

.hero p {
  color: #e5e7eb;
}

.hero img {
  display: flex;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
}
/* INFORMATIOn */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15%;
}

.information ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
}

.information img {
  height: 200px;
  width: 200px;
}
/* QUOTE */
.quote {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 15%;
}
.quote .message {
  font-style: italic;
}
.quote .author {
  font-weight: bold;
}
/* CALL TO ACTION */
.callaction {
  padding: 0 15%;
}
.callaction .content {
  margin: 100px 0;
  padding: 20px 100px;
  border: solid;
  border-style: solid;
  border-color: black;
  display: flex;
  align-items: center;
}
.callaction .message {
  flex: 2 1 0;
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
